{% extends "base.html" %}

{% block content %}
<main class="container-xxl overflow-y-scroll py-2 py-md-3" id="class-edit-container">
    <div class="row row-cols-2 row-cols-xl-6 row-cols-lg-4 row-cols-md-3 row-cols-sm-2" id="language-row">
        <div class="col">
            <div class="col d-flex align-items-center justify-content-evenly">
                <button class="btn btn-success disabled" id="class-order-save-btn">
                    <div class="spinner-border spinner-border-sm d-none"></div>
                    <span class="d-none finished-indicator"><i class="bi bi-check-lg"></i></span>
                    <i class="bi bi-sort-down"></i>
                </button>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    const class_row_common_class = 'row my-3 py-2 row-cols-2 row-cols-xl-6 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 rounded'
    const class_order_save_btn = $('#class-order-save-btn');
    const warning_toast = bootstrap.Toast.getOrCreateInstance($('#warning-toast'));

    window.onload = () => {
        action_sidebar_bs = new bootstrap.Offcanvas($('#action-sidebar'));

        Promise.all([
            init_language_select(),
            render_page_basic(),
            render_user_specific()
        ]).then(() => {
            $('#class-sidebar-toggler').addClass('disabled');
            $('#class-sidebar-toggler i').addClass('text-secondary');
            $('#search-input-group input').attr('disabled', 'disabled');
            $('#search-input-group button').attr('disabled', 'disabled');
            $('#nav-submit-btn').attr('disabled', 'disabled');
            $('#user-group button').addClass('disabled');
        })

        get_data('/fetch_lan').then((languages) => {
            var class_promises = [];
            languages.forEach((item) => {
                $('#language-row').append($(`
                    <div class="col" lan-code="${item.code}">
                        <h5><span class="badge text-bg-info w-100 language-badge mt-2">${item.name}</span></h5>
                    </div>
                `));
                class_promises.push(get_data(`/fetch_classes/${item.code}`));
            });

            Promise.all(class_promises).then((multilan_classes) => {
                var num_classes = multilan_classes[0].length;
                var num_lans = multilan_classes.length;
                $('#class-edit-container').append(gen_new_class_row(num_lans));

                for (var class_i = 0; class_i < num_classes; class_i++) {
                    var repr_class = multilan_classes[0][class_i];
                    var class_row = $(`
                        <div class="${class_row_common_class} class-row" 
                        class-id="${repr_class.ID}" style="background-color: #eee">
                            <div class="col d-flex align-items-center justify-content-evenly">
                                <button class="btn text-light" style="background-color: #${repr_class.icon_style}">
                                    <i class="bi bi-${repr_class.icon}"></i>
                                </button>
                                <button class="btn btn-outline-danger class-remove-btn">
                                    <i class="bi bi-trash"></i>
                                </button>
                                <button class="btn btn-outline-primary">
                                    <i class="bi bi-diagram-3"></i>
                                </button>
                            </div>
                        </div>
                    `);
                    for (var lan_i = 0; lan_i < num_lans; lan_i++) {
                        var class_col = gen_class_name_edit_col(multilan_classes[lan_i][class_i],
                            languages[lan_i].code);
                        class_row.append(class_col);
                    }
                    $('#class-edit-container').append(class_row);

                    class_row.find('.class-remove-btn').on('click', () => {
                        class_remove_listener(repr_class.ID);
                    });
                }
                $('#class-edit-container').sortable({ items: ".class-row" });

                class_order_save_btn.removeClass('disabled');
            });
        });
    }

    class_order_save_btn.on('click', () => {
        loading_state_btn(class_order_save_btn);
        var class_orders = [];
        $('#class-edit-container').find('.class-row').each((order, row) => {
            class_orders.push({
                'class_id': $(row).attr('class-id'),
                'order': order
            });
        });
        send_post('/edit_class_order', {
            "class_orders": class_orders
        }).then(() => {
            finished_state_btn(class_order_save_btn);
        })
    })

    function switch_language_listener() {
        render_page_basic();
    }

    function gen_class_name_edit_col(class_item, lan_code) {
        var col = $(`
            <div class="col">
                <div class="input-group class-name-edit-group">
                    <input type="text" class="form-control" placeholder="Class Name" value="${class_item.name}">
                    <button class="input-group-text text-success px-1 class-name-edit-ok-btn">
                        <div class="spinner-border spinner-border-sm d-none"></div>
                        <i class="bi bi-check-lg"></i>
                    </button>
                </div>
            </div>
        `);

        var ok_btn = col.find('.class-name-edit-ok-btn');
        ok_btn.on('click', () => {
            var class_name = validate_input(col.find('.class-name-edit-group'));
            if (class_name.length) {
                loading_state_btn(ok_btn);
                send_post('/edit_class_name', {
                    'class_id': class_item.ID,
                    'lan_code': lan_code,
                    'class_name': class_name
                }).then(() => {
                    finished_state_btn(ok_btn);
                })
            }
        })

        return col;
    }

    function gen_new_class_row(num_lans) {
        var row = $(`
            <div class="new-class-row ${class_row_common_class}" style="background-color: #D7CCC8">
                <div class="col d-flex align-items-center justify-content-evenly">
                    <button class="btn btn-dark">
                        <i class="bi bi-vector-pen"></i>
                    </button>
                    <button class="btn btn-warning">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <button class="btn btn-success">
                        <div class="spinner-border spinner-border-sm d-none"></div>
                        <i class="bi bi-check-lg"></i>
                    </button>
                </div>
            </div>
        `);

        for (var i = 0; i < num_lans; i++) {
            row.append(`
                <div class="col">
                    <input type="text" class="form-control" placeholder="Class Name">
                </div>
            `);
        }

        return row;
    }

    function class_remove_listener(class_id) {
        send_post('/remove_class', {
            'class_id': class_id
        }).then((data) => {
            if (data.message === 'fail') {
                show_warning_toast('You can only delete classes that are not tagged to any function.');
            } else {
                location.reload();
            }
        })
    }
</script>
{% endblock %}