main {
    margin-top: 60px;
}

.navbar-link {
    color: #ddd !important;
}

.active-navbar-link {
    color: #fff !important;
    text-decoration: underline !important;
    text-decoration-color: #fff !important;
    font-weight: 750 !important;
}

.overflow-y-scroll {
    height: calc(100vh - 60px);
}

#search-input-group {
    max-width: 280px;
}

input.text-bg-dark::placeholder {
    color: #aaa !important;
}

#class-sidebar {
    width: 267px;
}

#action-sidebar {
    width: 300px;
}

.class-selection-divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.class-icon {
    margin-right: 5px !important;
}

.class-list-item {
    margin-bottom: 0 !important;
    height: 30px;
}

.class-nav-link:hover, .child-class-nav-link:hover {
    background-color: #f7f7f7;
}

.class-nav-link {
    width: 250px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.child-class-list-item {
    height: 28px;
}

.child-class-nav-link {
    width: 250px;
    padding-left: 40px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.top-banner-item {
    background-color: #eee;
}

.navbar-toggler {
    width: 69px;
}

.banner-img {
    max-height: 135px;
}

.tool-icon {
    height: 25px;
    width: 25px;
}

.function-desc-badge {
    max-width: 220px;
}

.tool-card {
    transition: box-shadow 0.2s ease-out;
}

.tool-card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) !important;
}

.prompt-copy-btn {
    background-color: #BBDEFB !important;
}

.prompt-fav-btn {
    background-color: #B3E5FC !important;
}

.prompt-more-btn {
    background-color: #B2EBF2 !important;
}