<!-- Author: Yan Lin -->
<!-- Created on: 2023-03-18 -->
<!-- The main page of the website. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title id="page-browser-title"></title>
    <link rel="stylesheet" href="/static/module/mdui/css/mdui.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <!--    <link rel="stylesheet" href="/static/css/card_style.css">-->
    <script src="/static/module/jquery.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="Shortcut Icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TY2Y50CCNH"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-TY2Y50CCNH');
</script>

<!-- mdui-color-indigo-50 -->

<!-- class="mdui-typo-title" for header title -->

<body class="mdui-drawer-body-left  mdui-color-grey-100 mdui-appbar-with-toolbar">
    <header class="appbar mdui-appbar mdui-appbar-fixed mdui-color-indigo mdui-shadow-1 mdui-hoverable">
        <div class="mdui-toolbar" id="main-toolbar">
            <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}">
                <i class="mdui-icon material-icons">dehaze</i>
            </button>
            <a class="mdui-typo-headline" id="page-header-title"></a>
            <button class="mdui-btn" id="tools-btn"></button>

            <!-- <div class="mdui-text-color-theme-text">ChatGPT工具传送门</div> -->
            <div class="mdui-toolbar-spacer"></div>

            <button class="mdui-btn mdui-btn-icon" id="submit-dialog-open-btn">
                <i class="mdui-icon material-icons">file_upload</i>
            </button>
            <a class="mdui-btn mdui-btn-icon" target="_blank" href="https://github.com/wenhaomin/PromptGenius">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36"
                    enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon"
                    style="width: 24px;height:24px;">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,
                        0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1c1.6,0.1,2.5,
                        1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,
                        0.6-3.2,1.7-4.4c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,
                        0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,
                        6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,
                        11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z">
                    </path>
                </svg>
            </a>
            <select class="mdui-select" id="language-select"></select>
        </div>
    </header>

    <!-- mdui-collapse="{accordion: true}" -->

    <div>
        <!--        <div class="navbar__logo"><img src="/img/logo.svg" alt="ChatGPT Shortcuts" class="themedImage_ToTc themedImage&#45;&#45;light_HNdA"></div>-->

        <div class="mdui-text-center mdui-m-t-2 mdui-typo-display-2">

            <img class="mdui-img-circle" src="/static/img/favicon.ico" />

            PromptGenius
        </div>
        <div class="mdui-text-center mdui-m-t-2 mdui-typo-title">
            All-purpose prompts: a gateway to creativity !
        </div>
    </div>

    <!--drawer-->
    <div class="mdui-drawer" id="left-drawer">
        <ul id="hierarchy-tree" class="mdui-collapse mdui-list" style="accordion: true"></ul>
        <!--<button class="mdui-btn" mdui-drawer-close>close</button>-->
    </div>

    <div class="container p-helper mdui-container">
        <div id="main-container">
            <!-- Row for the search input. -->
            <div class="mdui-row" id="search-row">
                <div class="mdui-col-xs-12">
                    <div class="mdui-textfield">
                        <label class="mdui-textfield-label">Press Enter to Search</label>
                        <input class="mdui-textfield-input mdui-text-center" id="search-input" />
                    </div>
                </div>
            </div>
            <div class="mdui-textfield mdui-text-center" id="prompt_num"></div>
            <!-- Row for display prompt classes. mdui-typo-subheading is used to set the text to a smaller size   -->
            <div class="mdui-row" id="class-display-row">
                <div class="mdui-row mdui-row-sm-2 mdui-row-md-3 mdui-row-xs-3  mdui-row-lg-4 mdui-row-xl-5"
                    id="class-card-row"></div>
            </div>
        </div>
    </div>

    <button class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-blue mdui-fab-hide" id="back-top-btn">
        <i class="mdui-icon material-icons">arrow_upward</i>
    </button>

    <div class="mdui-dialog" id="submit-dialog">
        <div class="mdui-dialog-title" id="submit-dialog-title"></div>
        <div class="mdui-dialog-content" id="submit-dialog-content">
            <div class="mdui-row"><span id="submit-dialog-message"></span></div>
            <div class="mdui-row">
                <div class="mdui-textfield mdui-textfield-floating-label" id="submit-dialog-funcdesc-tf">
                    <label class="mdui-textfield-label"></label>
                    <textarea class="mdui-textfield-input" type="email" rows="1" type="text"></textarea>
                    <div class="mdui-textfield-error"></div>
                </div>
                <div class="mdui-textfield mdui-textfield-floating-label" id="submit-dialog-prompt-tf">
                    <label class="mdui-textfield-label" id="submit-dialog-prompt-label"></label>
                    <textarea class="mdui-textfield-input" type="email" rows="2" type="text"></textarea>
                    <div class="mdui-textfield-error"></div>
                </div>
                <div class="mdui-textfield mdui-textfield-floating-label" id="submit-dialog-username-tf">
                    <label class="mdui-textfield-label" id="submit-dialog-username-label"></label>
                    <textarea class="mdui-textfield-input" type="email" rows="1"></textarea>
                </div>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" id="submit-enter-btn"></button>
            <button class="mdui-btn mdui-ripple mdui-dialog-close" id="submit-cancel-btn"></button>
        </div>
    </div>

    <div class="mdui-dialog" id="tools-dialog">
        <div class="mdui-btn mdui-btn-icon mdui-float-right" id="tools-dialog-close-btn">
            <i class="mdui-icon material-icons">close</i>
        </div>
        <div class="mdui-dialog-title"></div>
        <div class="mdui-dialog-content"></div>
    </div>

    <div class="mdui-dialog" id="about-dialog">
    </div>
</body>

<script src="/static/module/mdui/js/mdui.min.js"></script>
<script src="/static/js/init_var.js"></script>
<script src="/static/js/generator.js"></script>
<script src="/static/js/control.js"></script>
<script src="/static/js/listener.js"></script>
<script src="/static/js/init_page.js"></script>
<!-- <script src="/static/js/tree_menu.js"></script> -->

</html>