{% extends "base.html" %}

{% block content %}
<main class="d-flex flex-nowrap">
    <!-- Left offcanvas for class selection. -->
    <div class="d-flex flex-column flex-shrink-0 overflow-y-scroll" id="class-sidebar-scroller">
        <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="class-sidebar">
            <div class="offcanvas-header border-bottom">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    data-bs-target="#class-sidebar" aria-label="Close"></button>
                <h5 class="offcanvas-title" id="class-offcanvas-title"></h5>
            </div>
            <div class="offcanvas-body p-0">
                <div class="container-fluid d-flex flex-column flex-shrink-0 p-2">
                    <ul class="nav nav-pills flex-column mb-auto" id="class-selection-list"></ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Center container for prompt display. -->
    <div class="container-xxl overflow-y-scroll">
        <div id="top-banner" class="carousel slide mt-2 mt-md-3" data-bs-ride="carousel" data-bs-interval="10000">
            <div class="carousel-indicators mb-0" id="top-banner-indicator">
            </div>
            <div class="carousel-inner" id="top-banner-inner">
                <div class="carousel-item rounded active top-banner-item"></div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#top-banner" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#top-banner" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>

        <div class="row py-2 py-md-3 row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 g-2"
            id="prompt-display">
        </div>
    </div>
</main>

<div class="modal fade" id="submit-dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="submit-dialog-title"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="submit-dialog-message"></span>
                <form class="mt-3">
                    <div class="input-group mb-2" id="submit-dialog-funcdesc-group">
                        <span class="input-group-text"><i class="bi bi-tools"></i></span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-2" id="submit-dialog-prompt-group">
                        <span class="input-group-text"><i class="bi bi-lightbulb"></i></span>
                        <textarea class="form-control form-control-sm" rows="3"></textarea>
                    </div>
                    <div class="input-group mb-2" id="submit-dialog-user-group">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input class="form-control" rows="3" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="submit-clear-btn"></button>
                <button type="button" class="btn btn-primary" id="submit-enter-btn">
                    <div class="spinner-border spinner-border-sm d-none"></div>
                    <span class="d-none finished-indicator"><i class="bi bi-check-lg"></i></span>
                    <span class="btn-text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="prompt-more-dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="user-login-dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <span id="login-dialog-message"></span>
                <form class="mt-3">
                    <label class="form-label text-danger d-none small" content="error-message"></label>
                    <div class="input-group mb-2" id="login-username-group">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group mb-2" id="login-password-group">
                        <span class="input-group-text"><i class="bi bi-key"></i></span>
                        <input class="form-control" type="password" />
                    </div>
                    <div class="input-group mb-2 d-none" id="login-password-repeat-group">
                        <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                        <input class="form-control" type="password" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="register-btn">
                    <div class="spinner-border spinner-border-sm d-none"></div>
                    <span class="d-none finished-indicator"><i class="bi bi-check-lg"></i></span>
                    <span class="btn-text"></span>
                </button>
                <button type="button" class="btn btn-primary" id="login-btn">
                    <div class="spinner-border spinner-border-sm d-none"></div>
                    <span class="d-none finished-indicator"><i class="bi bi-check-lg"></i></span>
                    <span class="btn-text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="user-setting-dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form class="mt-3">
                    <label class="form-label text-danger d-none small" content="error-message"></label>
                    <div class="input-group mb-2" id="setting-oldpass-group">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        <input class="form-control" type="password">
                    </div>
                    <div class="input-group mb-2" id="setting-newpass-group">
                        <span class="input-group-text"><i class="bi bi-key"></i></span>
                        <input class="form-control" type="password" />
                    </div>
                    <div class="input-group mb-2" id="setting-newpass-repeat-group">
                        <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                        <input class="form-control" type="password" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="user-setting-ok-btn">
                    <div class="spinner-border spinner-border-sm d-none"></div>
                    <span class="d-none finished-indicator"><i class="bi bi-check-lg"></i></span>
                    <span class="btn-text"></span>
                </button>
            </div>
        </div>
    </div>
</div>

{% if show_edit_content %}
{% include 'editor/index_editor.html' %}
{% endif %}

{% endblock %}


{% block script %}
<script>
    window.onload = () => {
        load_cookie_class();

        action_sidebar_bs = new bootstrap.Offcanvas($('#action-sidebar'));
        class_sidebar_bs = new bootstrap.Offcanvas($('#class-sidebar'));
        submit_dialog_bs = new bootstrap.Modal($('#submit-dialog'));
        prompt_more_dialog_bs = new bootstrap.Modal($('#prompt-more-dialog'));
        user_login_dialog_bs = new bootstrap.Modal($('#user-login-dialog'));
        user_setting_dialog_bs = new bootstrap.Modal($('#user-setting-dialog'));
        warning_toast = bootstrap.Toast.getOrCreateInstance($('#warning-toast'));

        pop_minmax = [0, 200];
        pop_cmap = chroma.scale(['303F9F', 'FF8F00', 'FF3D00']).domain(pop_minmax);

        Promise.all([
            init_language_select(),
            render_page_basic(),
            render_class_tree(),
            render_class_prompts(cur_selected_class),
            render_user_specific()
        ]).then(() => {
            $("#search-input-group button").on('click', prompt_search_listener);
            $('#submit-clear-btn').on('click', submit_clear_listener);
            $('#submit-enter-btn').on('click', submit_enter_listener);
            $('#register-btn').on('click', register_click_listener);
            $('#login-btn').on('click', login_click_listener);
            $('#user-group').find('#logout-item').on('click', logout_click_listener);
            $('#user-setting-ok-btn').on('click', user_setting_ok_click_listener);

            $(document).ready(() => {
                $("#search-input-group input").keydown(function (e) {
                    var curKey = e.which;
                    if (curKey == 13) {
                        prompt_search_listener()
                        return false;
                    }
                });
            });
        })

    }

    function refresh_page_multilan() {
        render_page_basic();
        render_class_tree();

        load_cookie_class();
        render_class_prompts(cur_selected_class);
    }
</script>
{% endblock %}