<div class="modal fade modal-lg" id="prompt-edit-dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add / Edit Prompt</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <span>Edit the parameters and contents of this prompt.</span>
                <form class="mt-3">
                    <label class="form-label text-danger d-none small" content="error-message"></label>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                        <div class="col">
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="bi bi-wrench"></i></span>
                                <select class="form-select" content="function-id"></select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="bi bi-code"></i></span>
                                <input class="form-control" type="text" placeholder="YYmmdd_1234567890"
                                    content="semantic-id" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="bi bi-globe"></i></span>
                                <input class="form-control" type="text" placeholder="language code"
                                    content="lan-code" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="bi bi-1-circle"></i></span>
                                <input class="form-control" type="number" placeholder="priority" content="priority" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="bi bi-gear"></i></span>
                                <input class="form-control" type="text" placeholder="ChatGPT" content="model" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                                <input class="form-control" type="text" placeholder="Anonymous" content="author" />
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text"><i class="bi bi-link"></i></span>
                        <input class="form-control" type="text" placeholder="Author Link" content="author-link" />
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text"><i class="bi bi-body-text"></i></span>
                        <textarea class="form-control form-control-sm" type="text" placeholder="Prompt Content" rows="5"
                            content="content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger me-auto" id="prompt-delete-btn"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="This will delete ALL associate examples and user favorites. Triple-click to confirm.">
                    <span>Delete</span>
                </button>
                <button type="button" class="btn btn-info" id="example-edit-open-btn" data-bs-toggle="modal"
                    data-bs-target="#example-edit-dialog">
                    <span>Edit examples</span>
                </button>
                <button type="button" class="btn btn-primary" id="prompt-edit-ok-btn">
                    <div class="spinner-border spinner-border-sm d-none"></div>
                    <span class="d-none finished-indicator"><i class="bi bi-check-lg"></i></span>
                    <span>OK</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="example-edit-dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit prompt examples</h1>
                <button type="button" class="btn-close" data-bs-toggle="modal"
                    data-bs-target="#prompt-edit-dialog"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-underline mb-2 d-flex flex-nowrap overflow-x-scroll" id="example-model-edit-nav">
                </ul>
                <div class="tab-content" id="example-model-edit-tab-content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="example-add-dialog-btn">Add dialog</button>
                <button type="button" class="btn btn-primary" id="example-edit-ok-btn">
                    <div class="spinner-border spinner-border-sm d-none"></div>
                    <span class="d-none finished-indicator"><i class="bi bi-check-lg"></i></span>
                    <span>OK</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="function-select-dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Functions under current class</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-wrap" id="function-select-container"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="function-edit-dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add / edit function</h1>
                <button type="button" class="btn-close" data-bs-toggle="modal"
                    data-bs-target="#function-select-dialog"></button>
            </div>
            <div class="modal-body">
                <span>Edit parameters of this function.</span>
                <form class="mt-3">
                    <label class="form-label text-danger d-none small" content="error-message"></label>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="function-name-edit-row"></div>
                    <hr class="mt-1 mb-2">
                    <div class="input-group mb-2">
                        <span class="input-group-text"><i class="bi bi-grid-fill"></i></span>
                        <select class="form-select" content="main-class"></select>
                    </div>
                </form>
                <div class="d-flex flex-wrap rounded p-1" style="background-color: #eee"
                    id="function-class-tag-container">
                    <div class="btn-group m-1 new-class-tag">
                        <button type="button" class="btn btn-warning btn-sm" id="function-add-class-btn"
                            data-bs-toggle="modal" data-bs-target="#class-select-dialog">Add class tag</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="function-edit-ok-btn">
                    <div class="spinner-border spinner-border-sm d-none"></div>
                    <span class="d-none finished-indicator"><i class="bi bi-check-lg"></i></span>
                    <span>OK</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="class-select-dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Choose one tag from existing classes</h1>
                <button type="button" class="btn-close" data-bs-toggle="modal"
                    data-bs-target="#function-edit-dialog"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-2">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input class="form-control" type="text" placeholder="Search for classes"
                        id="class-tag-search-input" />
                </div>
                <div class="d-flex flex-wrap" id="class-tag-select-container"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .prompt-edit-btn {
        opacity: 0.7;
    }
</style>

<script>
    var function_edit_role = 'edit';
    var prompt_edit_role = 'edit';

    const function_select_dialog = $('#function-select-dialog');
    const function_edit_dialog = $('#function-edit-dialog');
    const function_edit_ok_btn = $('#function-edit-ok-btn');
    const prompt_edit_dialog = $('#prompt-edit-dialog');
    const prompt_edit_ok_btn = $('#prompt-edit-ok-btn');
    const prompt_delete_btn = $('#prompt-delete-btn');
    const example_edit_ok_btn = $('#example-edit-ok-btn');
    const example_edit_dialog = $('#example-edit-dialog');

    const function_select_dialog_bs = new bootstrap.Modal(function_select_dialog);
    const function_edit_dialog_bs = new bootstrap.Modal(function_edit_dialog);
    const class_select_dialog_bs = new bootstrap.Modal($('#class-select-dialog'));
    const prompt_edit_dialog_bs = new bootstrap.Modal(prompt_edit_dialog);
    new bootstrap.Tooltip($('#prompt-delete-btn'));

    prompt_edit_ok_btn.on('click', prompt_edit_ok_btn_click_listener);
    prompt_delete_btn.on('click', prompt_delete_btn_click_listener);
    $('#example-edit-open-btn').on('click', example_edit_open_btn_click_listener);
    $('#example-add-dialog-btn').on('click', example_add_dialog_btn_click_listener);
    example_edit_ok_btn.on('click', example_edit_ok_btn_click_listener);

    var prompt_delete_click_timer;
    var prompt_delete_click_count = 0;

    function gen_edit_function_card() {
        if (cur_selected_class === 'popular' || cur_selected_class === 'user_fav' || cur_selected_class === '') {
            return '';
        }

        var card = $(`
            <div class="prompt-col col">
                <div class="card shadow-sm text-bg-primary btn">
                    <div class="card-body p-1">
                        <div class="card-text h6">
                            <i class="bi bi-hammer"></i>
                            <span class="ms-1">Edit functions</span>
                        </div>
                    </div>
                </div>
            </div>
        `);

        card.on('click', function_select_open_listener);

        return card;
    }

    function function_select_open_listener() {
        $('#function-select-container').empty();
        function_select_dialog_bs.show();
        send_post('/fetch_functions_with_class', {
            'class_id': cur_selected_class,
            'lan_code': cur_lan_code
        }).then((data) => {
            data.content.forEach((item) => {
                var function_btn = $(`
                    <div class="btn-group function-select-btn-group m-1" function-id=${item[0]}>
                        <button type="button" class="btn btn-info function-edit-btn">${item[1]}</button>
                        <button type="button" class="btn btn-outline-danger p-0 function-delete-btn" style="width: 25px">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                `);
                function_btn.find('.function-edit-btn').on('click', () => {
                    function_edit_role = 'edit';
                    function_edit_dialog.attr('function-id', item[0]);
                    edit_function_open_listener();
                });
                function_btn.find('.function-delete-btn').on('click', () => {
                    send_post('/delete_function', {
                        'function_id': item[0]
                    }).then((data) => {
                        if (data.message === 'fail') {
                            show_warning_toast('Cannot delete functions that contains prompts.');
                        } else {
                            function_btn.remove();
                        }
                    })
                })
                $('#function-select-container').append(function_btn);
            });
            var function_add_btn = $(`
                <div class="btn-group m-1">
                    <button type="button" class="btn btn-warning function-add-btn">Add function</button>
                </div>
            `);
            function_add_btn.find('.function-add-btn').on('click', () => {
                function_edit_role = 'new';
                function_edit_dialog.attr('function-id', '');
                edit_function_open_listener();
            })
            $('#function-select-container').append(function_add_btn);
        })

    }

    function gen_class_tag(class_id, class_name) {
        var class_tag = $(`
            <div class="btn-group m-1 class-tag" class-id=${class_id}>
                <button type="button" class="btn btn-outline-dark btn-sm">${class_name}</button>
                <button type="button" class="btn btn-outline-danger btn-sm p-0 class-tag-delete-btn" style="width: 25px">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        `);
        class_tag.find('.class-tag-delete-btn').on('click', () => { class_tag.remove(); });
        return class_tag;
    }

    $('#class-tag-search-input').on('input', () => {
        var input = $('#class-tag-search-input').val();
        $('#class-tag-select-container').find('.class-badge').each((index, badge) => {
            if ($(badge).text().includes(input) || input.includes($(badge).text())) {
                $(badge).parent().removeClass('d-none');
            } else {
                $(badge).parent().addClass('d-none');
            }
        })
    })

    function edit_function_open_listener() {
        function_select_dialog_bs.hide();
        function_edit_dialog.find('.modal-footer button').addClass('disabled');
        $('#function-name-edit-row').empty();
        function_edit_dialog.find('input').val('');
        function_edit_dialog.find('select').empty();
        function_edit_dialog.find('#function-class-tag-container .class-tag').remove();
        $('#class-tag-select-container').empty();
        function_edit_dialog_bs.show();

        const active_class_link = $('#class-selection-list').find('.nav-link.active');
        var cur_parent_class_id = active_class_link.parents('.parent-class-container').find('.class-list-item .class-nav-link').attr('class-id');
        const target_function_id = function_edit_dialog.attr('function-id');
        const append_name_col = (lan_code, name) => {
            var name_col = $(`
                <div class="col function-name-col">
                    <div class="input-group mb-2">
                        <span class="input-group-text">${lan_code}</span>
                        <input class="form-control" type="text" placeholder="Function name" value="${name}"/>
                    </div>
                </div>
            `);
            $('#function-name-edit-row').append(name_col);
        }
        const append_class_tag = (class_id, class_name) => {
            var class_tag = $(`
                <h6 class="m-1"><div class="btn badge text-bg-light class-badge">${class_name}</div></h6>
            `);
            class_tag.on('click', () => {
                function_edit_dialog.find('#function-class-tag-container').append(gen_class_tag(class_id, class_name));
                class_select_dialog_bs.hide();
                function_edit_dialog_bs.show();
            })
            $('#class-tag-select-container').append(class_tag);
        }

        var promises = [get_data(`/fetch_classes/${cur_lan_code}`)];
        if (function_edit_role === 'edit') {
            promises.push(send_post('/fetch_function_names', { 'function_id': target_function_id }));
            promises.push(send_post('/fetch_function_class_tags', { 'function_id': target_function_id, 'lan_code': cur_lan_code }));
        } else {
            promises.push(get_data('/fetch_lan'));
        }
        Promise.all(promises).then(([classes, function_names, class_tags]) => {
            if (function_edit_role === 'edit') {
                cur_parent_class_id = class_tags[0].class_id;
                function_names.content.forEach((item) => { append_name_col(item.lan_code, item.name); })
                class_tags.slice(1).forEach((item) => {
                    function_edit_dialog.find('#function-class-tag-container').append(gen_class_tag(item.class_id, item.class_name));
                })
            } else {
                function_names.forEach((item) => { append_name_col(item.code, ''); })
                if (active_class_link.hasClass('child-class-nav-link')) {
                    function_edit_dialog.find('#function-class-tag-container').append(
                        gen_class_tag(active_class_link.attr('class-id'), active_class_link.text()));
                }
            }

            classes.forEach((item) => {
                var option = $(`
                    <option value="${item.ID}" ${item.ID === cur_parent_class_id ? 'selected' : ''}>${item.name}</option>
                `);
                function_edit_dialog.find('select[content="main-class"]').append(option);

                append_class_tag(item.ID, item.name);
                item.childrens.forEach(({ ID, name }) => { append_class_tag(ID, name) });
            })

            function_edit_dialog.find('.modal-footer button').removeClass('disabled');
        })
    }

    function_edit_ok_btn.on('click', () => {
        var valid_flag = true;
        var function_names = [];
        var class_tags = [get_selected_value(function_edit_dialog.find('select[content="main-class"]'))];
        function_edit_dialog.find('.function-name-col').each((i, col) => {
            var function_name = {
                'lan_code': $(col).find('.input-group-text').text(),
                'name': validate_input($(col).find('.input-group'))
            };
            if (function_name['name'].length === 0) { valid_flag = false }
            function_names.push(function_name);
        })
        function_edit_dialog.find('#function-class-tag-container').find('.class-tag').each((i, tag) => {
            class_tags.push($(tag).attr('class-id'));
        });

        if (valid_flag) {
            loading_state_btn(function_edit_ok_btn);
            var post_url = function_edit_role === 'edit' ? '/edit_function_meta' : '/add_function';
            send_post(post_url, {
                'function_id': function_edit_dialog.attr('function-id'),
                'function_names': function_names,
                'class_tags': class_tags
            }).then((data) => {
                finished_state_btn(function_edit_ok_btn);
                if (data.message === 'fail') {
                    show_error_message(function_edit_dialog, data.error);
                } else {
                    if (function_edit_role !== 'edit') {
                        function_edit_dialog_bs.hide();
                        function_select_open_listener();
                    }
                }
            })
        }
    })

    // Generate a "Add prompt" card for adding new prompts.
    function gen_add_prompt_card() {
        if (cur_selected_class === 'popular' || cur_selected_class === 'user_fav' || cur_selected_class === '') {
            return '';
        }
        var card = $(`
            <div class="prompt-col col">
                <div class="card shadow-sm text-bg-warning btn">
                    <div class="card-body p-1">
                        <div class="card-text h6">
                            <i class="bi bi-file-earmark-plus"></i>
                            <span class="ms-1">Add prompt</span>
                        </div>
                    </div>
                </div>
            </div>
        `);

        card.on('click', () => {
            prompt_edit_role = 'add';
            prompt_edit_dialog.removeAttr('function-id');
            prompt_edit_dialog.removeAttr('semantic-id');
            prompt_edit_dialog.removeAttr('lan-code');
            prompt_edit_dialog.find('input, textarea').val('');
            prompt_edit_dialog.find('select').empty();
            prompt_edit_dialog.find('input[content="lan-code"]').val(cur_lan_code);
            prompt_edit_dialog.find('input[content="semantic-id"]').removeAttr('disabled');
            prompt_edit_dialog.find('input[content="lan-code"]').attr('disabled', 'disabled');
            prompt_edit_dialog.find('#example-edit-open-btn').addClass('disabled');
            prompt_edit_dialog.find('input[content="priority"]').val(0);
            prompt_edit_dialog.find('.modal-footer button').addClass('disabled');
            prompt_delete_btn.addClass('disabled');
            prompt_edit_dialog_bs.show();

            send_post('/fetch_functions_with_class', {
                'class_id': cur_selected_class,
                'lan_code': cur_lan_code
            }).then((data) => {
                data.content.forEach((item, index) => {
                    prompt_edit_dialog.find('select[content="function-id"]').append(`
                        <option ${index ? '' : 'selected'} value="${item[0]}">${item[1]}</option>
                    `);
                });
                prompt_edit_ok_btn.removeClass('disabled');
            })
        })

        return card;
    }

    // Generate a top-right button for editing prompts.
    function gen_prompt_card_edit_btn() {
        var edit_btn = $(`
            <button class="btn badge position-absolute top-0 end-0 m-1 prompt-edit-btn text-bg-warning">
                <i class="bi bi-pencil-square"></i>
            </button>
        `);

        edit_btn.on('click', (e) => {
            prompt_edit_role = 'edit';
            var target_prompt_card = $(e.target).parents('.prompt-card');
            prompt_edit_dialog.find('input, textarea').val('');
            prompt_edit_dialog.find('select').empty();

            var function_id = target_prompt_card.attr('function-id');
            var semantic_id = target_prompt_card.attr('semantic-id');
            var lan_code = target_prompt_card.attr('lan-code');
            prompt_edit_dialog.attr('function-id', function_id);
            prompt_edit_dialog.attr('semantic-id', semantic_id);
            prompt_edit_dialog.attr('lan-code', lan_code);

            prompt_edit_dialog.find('input[content="lan-code"]').attr('disabled', 'disabled');
            prompt_edit_dialog.find('#example-edit-open-btn').removeClass('disabled');
            prompt_edit_dialog.find('.modal-footer button').addClass('disabled');
            prompt_edit_dialog_bs.show();

            Promise.all([
                send_post('/fetch_prompt_meta', {
                    'function_id': function_id,
                    'semantic_id': semantic_id,
                    'lan_code': lan_code
                }),
                send_post('/fetch_functions_with_class', {
                    'class_id': cur_selected_class,
                    'lan_code': lan_code
                })
            ]).then(([prompt_meta, functions]) => {
                var meta = prompt_meta.meta;

                prompt_edit_dialog.find('input[content="semantic-id"]').val(meta.semanticID);
                prompt_edit_dialog.find('input[content="lan-code"]').val(meta.lanCode);
                prompt_edit_dialog.find('input[content="priority"]').val(meta.priority);
                prompt_edit_dialog.find('input[content="model"]').val(meta.model);
                prompt_edit_dialog.find('input[content="author"]').val(meta.author);
                prompt_edit_dialog.find('input[content="author-link"]').val(meta.author_link);
                prompt_edit_dialog.find('textarea[content="content"]').val(meta.content);

                if (cur_selected_class === 'popular' || cur_selected_class === 'user_fav' || cur_selected_class === '') {
                    prompt_edit_dialog.find('select[content="function-id"]').append(`
                    <option selected value="${meta.functionID}">${meta.functionID}</option>
                `);
                } else {
                    functions.content.forEach((item) => {
                        prompt_edit_dialog.find('select[content="function-id"]').append(`
                        <option ${meta.functionID === item[0] ? 'selected' : ''} value="${item[0]}">${item[1]}</option>
                    `);
                    });
                }
                prompt_edit_dialog.find('.modal-footer button').removeClass('disabled');
            });
        });

        return edit_btn
    }

    // Click listener for the OK button in prompt edit dialog.
    // Submit the change made in the edit dialog to backend.
    function prompt_edit_ok_btn_click_listener() {
        var function_id = prompt_edit_dialog.attr('function-id');
        var semantic_id = prompt_edit_dialog.attr('semantic-id');
        var lan_code = prompt_edit_dialog.attr('lan-code');
        var function_id_new = get_selected_value(prompt_edit_dialog.find('select[content="function-id"]'));
        var semantic_id_new = validate_input(prompt_edit_dialog.find('input[content="semantic-id"]').parent());
        var lan_code_new = prompt_edit_dialog.find('input[content="lan-code"]').val();
        var priority = validate_input(prompt_edit_dialog.find('input[content="priority"]').parent());
        var model = prompt_edit_dialog.find('input[content="model"]').val();
        var author = prompt_edit_dialog.find('input[content="author"]').val();
        var author_link = prompt_edit_dialog.find('input[content="author-link"]').val();
        var content = validate_input(prompt_edit_dialog.find('textarea[content="content"]').parent());

        var send_url = '/edit_prompt_meta';
        if (prompt_edit_role === 'add') {
            send_url = '/add_prompt';
            function_id = function_id_new;
            semantic_id = semantic_id_new;
            lan_code = lan_code_new;
        }

        if (semantic_id_new.length > 0 && content.length > 0 && priority.length > 0) {
            loading_state_btn(prompt_edit_ok_btn);
            send_post(send_url, {
                'function_id': function_id,
                'semantic_id': semantic_id,
                'lan_code': lan_code,
                'function_id_new': function_id_new,
                'semantic_id_new': semantic_id_new,
                'lan_code_new': lan_code_new,
                'priority': priority,
                'model': model,
                'author': author,
                'author_link': author_link,
                'content': content
            }).then((data) => {
                finished_state_btn(prompt_edit_ok_btn);
                if (data.message === 'fail') {
                    show_error_message(prompt_edit_dialog, data.error);
                } else {
                    prompt_edit_dialog.attr('function-id', function_id_new);
                    prompt_edit_dialog.attr('semantic-id', semantic_id_new);
                    prompt_edit_dialog.attr('lan-code', lan_code_new);
                    prompt_edit_dialog.find('#example-edit-open-btn, #prompt-delete-btn').removeClass('disabled');
                }
            })
        }
    }

    // Click listener for the Delete button in prompt edit dialog.
    // Send the prompt delete request to backend.
    function prompt_delete_btn_click_listener() {
        clearTimeout(prompt_delete_click_timer);
        prompt_delete_click_count++;
        if (prompt_delete_click_count === 3) {
            prompt_delete_click_count = 0;
            var function_id = prompt_edit_dialog.attr('function-id');
            var semantic_id = prompt_edit_dialog.attr('semantic-id');
            var lan_code = prompt_edit_dialog.attr('lan-code');
            send_post('/remove_prompt', {
                'function_id': function_id,
                'semantic_id': semantic_id,
                'lan_code': lan_code
            }).then((data) => {
                if (data.message === 'fail') {
                    show_error_message(prompt_edit_dialog, data.error);
                } else {
                    prompt_edit_dialog_bs.hide();
                }
            })
        } else {
            prompt_delete_click_timer = setTimeout(() => {
                prompt_delete_click_count = 0;
            }, 200);
        }
    }

    // Generate the edit list for one example.
    function gen_one_example_edit_list(dialog_contents) {
        const icons = ['person-fill', 'gear-wide'];
        var dialog_list = $(`<ul class="list-group list-group-flush rounded">`);

        const _get_list_item = (content, role) => {
            var item = $(`
                <li class="list-group-item d-flex flex-column example-list-item p-1 border-0">
                    <div class="input-group">
                        <div class="input-group-text text-dark px-1">
                            <i class="bi bi-grip-vertical"></i>
                        </div>
                        <button class="input-group-text role-icon">
                            <i class="bi bi-${icons[role]}"></i>
                        </button>
                        <textarea class="form-control form-control-sm" rows="4">${content}</textarea>
                        <button class="input-group-text dialog-list-remove-btn text-danger">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </li>
            `);
            item.find('.role-icon').on('click', (event) => {
                $(event.target).find('.bi').toggleClass(`bi-${icons[0]} bi-${icons[1]}`);
            });
            item.find('.dialog-list-remove-btn').on('click', () => {
                item.remove();
            })
            return item;
        }

        var add_item_btn = $(`
            <li class="list-group-item p-1 border-0" id="add-item-btn">
                <button class="btn w-100 btn-light btn-sm border-secondary">Add line</button>
            </li>
        `);
        dialog_list.append(add_item_btn);
        add_item_btn.on('click', () => {
            dialog_list.append(_get_list_item('', dialog_list.find('.example-list-item').length % 2));
            dialog_list.sortable();
        })

        dialog_contents.forEach((content, index) => {
            var role = (content.role === null || content.role === undefined) ? (index % 2) : content.role;
            var dialog_item = _get_list_item(content.raw, role);
            var copy_btn = dialog_item.find('.dialog-copy-btn');
            copy_btn.on('click', () => { copy_btn_click_listener(copy_btn, content.raw); });

            dialog_list.append(dialog_item);
        });

        dialog_list.sortable();

        return dialog_list;
    }

    // Generate a pair of nav link and tab content for one example.
    function gen_one_example_edit_tab(model_name, dialog_contents, index) {
        var nav = $(`
            <li class="nav-item">
                <a class="nav-link example-nav-link d-flex flex-nowrap align-items-center ${(index === 0) ? 'active' : ''}"
                data-bs-toggle="tab" data-bs-target="#example-edit-model-${index}">
                    <button class="btn badge text-danger dialog-tab-remove-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <input class="form-control form-control-sm model-name-input" 
                    value="${model_name}" type="text" placeholder="model name" style="width: 100px"/>
                </a>
            </li>
        `);

        var tab_content = $(`
            <div class="tab-pane fade ${(index === 0) ? 'active show' : ''}" tabindex="1" 
            id="example-edit-model-${index}">
        `);
        tab_content.append(gen_one_example_edit_list(dialog_contents));

        nav.find('.dialog-tab-remove-btn').on('click', () => {
            nav.remove();
            tab_content.remove();
        })

        return [nav, tab_content];
    }

    // Click listener for the 'Edit example' button in prompt edit dialog.
    // Render example editor with existing examples.
    var example_edit_count_pointer = 0;
    function example_edit_open_btn_click_listener() {
        example_edit_dialog.find('#example-model-edit-nav').empty();
        example_edit_dialog.find('#example-model-edit-tab-content').empty();
        example_edit_dialog.find('#example-add-dialog-btn, #example-edit-ok-btn').addClass('disabled');

        send_post(`/get_prompt_dialog`, {
            'function_id': prompt_edit_dialog.attr('function-id'),
            'semantic_id': prompt_edit_dialog.attr('semantic-id'),
            'lan_code': prompt_edit_dialog.attr('lan-code')
        }).then((data) => {
            // Add existing examples to the edit dialog.
            example_edit_count_pointer = Object.keys(data.content).length;
            Object.entries(data.content).forEach(([model_name, dialog_contents], index) => {
                var [nav, tab_content] = gen_one_example_edit_tab(model_name, dialog_contents, index);
                example_edit_dialog.find('#example-model-edit-nav').append(nav);
                example_edit_dialog.find('#example-model-edit-tab-content').append(tab_content);
            });
            example_edit_dialog.find('#example-add-dialog-btn, #example-edit-ok-btn').removeClass('disabled');
        });
    }

    // Click listener for the 'Add dialog' button in example edit dialog.
    function example_add_dialog_btn_click_listener() {
        // Add new example item to the edit dialog.
        var [nav, tab_content] = gen_one_example_edit_tab('',
            [{ raw: $('#prompt-edit-dialog').find('textarea[content="content"]').val() }],
            example_edit_count_pointer++);
        example_edit_dialog.find('#example-model-edit-nav').append(nav);
        example_edit_dialog.find('#example-model-edit-tab-content').append(tab_content);
    }

    // Click listener for the OK button in example edit dialog.
    function example_edit_ok_btn_click_listener() {
        var examples = {};
        var has_empty = false;
        example_edit_dialog.find('#example-model-edit-nav .example-nav-link').each((i, nav_item) => {
            var model_name = validate_input($(nav_item));
            if (model_name.length === 0) {
                has_empty = true;
            }
            var tab_id = $(nav_item).attr('data-bs-target');
            var example_contents = [];
            example_edit_dialog.find(tab_id).find('.example-list-item').each((j, list_item) => {
                var role_index = $(list_item).find('.role-icon .bi').hasClass('bi-person-fill') ? 0 : 1;
                var content = $(list_item).find('textarea').val();
                example_contents.push([j, content, role_index]);
            });
            examples[model_name] = example_contents;
        });
        if (!has_empty) {
            loading_state_btn(example_edit_ok_btn);
            send_post('/edit_prompt_examples', {
                'function_id': prompt_edit_dialog.attr('function-id'),
                'semantic_id': prompt_edit_dialog.attr('semantic-id'),
                'lan_code': prompt_edit_dialog.attr('lan-code'),
                'examples': examples
            }).then((data) => {
                finished_state_btn(example_edit_ok_btn);
                if (data.message === 'fail') {
                    show_error_message(example_edit_dialog, data.error);
                }
            })
        }
    }
</script>