{% extends "base.html" %}

{% block content %}
<main class="container-xxl overflow-y-scroll">
    <div class="row py-2 py-md-3 row-cols-1 g-2" id="logs-display"></div>
</main>
{% endblock%}

{% block script %}
<script>
    (async () => {
        await init_language_select();
        await render_page_basic();
        await render_logs_display();
    })().then(() => {
        $('#class-sidebar-toggler').addClass('disabled');
        $('#class-sidebar-toggler i').addClass('text-secondary');
        $('#search-input-group input').attr('disabled', 'disabled');
        $('#search-input-group button').attr('disabled', 'disabled');
        $('#nav-submit-btn').attr('disabled', 'disabled');
    });

    function switch_language_listener() {
        render_page_basic();
    }
</script>
{% endblock %}